@charset "UTF-8";
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
 margin:0;
 padding:0;
 border:0;
 font:inherit;
 font-size:100%;
 vertical-align:baseline
}
html {
 line-height:1
}
ol,ul {
 list-style:none
}
table {
 border-collapse:collapse;
 border-spacing:0
}
caption,th,td {
 text-align:left;
 font-weight:normal;
 vertical-align:middle
}
q,blockquote {
 quotes:none
}
q:before,q:after,blockquote:before,blockquote:after {
 content:"";
 content:none
}
a img {
 border:0
}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {
 display:block
}.l-page-width {
 margin:0 auto;
 display:block;
 width:62.5em;
 position:relative;
 *zoom:1
}
.l-page-width:after {
 content:"\0020";
 display:block;
 height:0;
 clear:both;
 overflow:hidden;
 visibility:hidden
}
.l-page-width .l-page-width__ledge {
 margin:0 -1.125em;
 padding:0 1.125em;
 background:#fff;
 *zoom:1
}
.l-page-width .l-page-width__ledge:after {
 content:"\0020";
 display:block;
 height:0;
 clear:both;
 overflow:hidden;
 visibility:hidden
}
.l-page-width .l-page-width__ledge.m-ledge-white {
 background:#fff
}
.l-page-width .l-page-width__ledge.m-ledge-dark {
 background:#282828
}
.l-page-width .l-page-width__ledge.m-ledge-grey {
 background:#e7e7e7
}
.l-page-width .l-page-width__ledge.m-ledge-light-grey {
 background:#f4f4f4
}
.l-page-width .l-page-width__ledge.m-ledge-light-blue {
 background:#d3ebfd
}
.l-page-width .l-page-width__ledge.m-ledge-blue {
 background:#62a7d9
}
.l-page-width .l-page-width__outer {
 position:absolute;
 top:0;
 bottom:0;
 width:1.125em
}
.l-page-width .l-page-width__outer.m-outer-left {
 left:-1.125em
}
.l-page-width .l-page-width__outer.m-outer-right {
 right:-1.125em
}
.l-page-width.m-page-width__white {
 background:#fff
}
.l-page-width.m-page-width__white .l-page-width__outer {
 background:#fff
}
.l-page-width.m-page-width__dark {
 background:#282828
}
.l-page-width.m-page-width__dark .l-page-width__outer {
 background:#282828
}
.l-page-width.m-page-width__grey {
 background:#e7e7e7
}
.l-page-width.m-page-width__grey .l-page-width__outer {
 background:#e7e7e7
}
.l-page-width.m-page-width__light-grey {
 background:#f4f4f4
}
.l-page-width.m-page-width__light-grey .l-page-width__outer {
 background:#f4f4f4
}
.l-page-width.m-page-width__light-blue {
 background:#d3ebfd
}
.l-page-width.m-page-width__light-blue .l-page-width__outer {
 background:#d3ebfd
}
.l-page-width.m-page-width__blue {
 background:#62a7d9
}
.l-page-width.m-page-width__blue .l-page-width__outer {
 background:#62a7d9
}
.l-page-width .l-page-width__ledge {
 background:#f4f4f4;
 position:relative
}
.l-page-width .l-page-width__ledge {
  margin:0;
  padding:0;
  background:0
 }
 .l-slide-columns {
 position:relative
}
.l-slide-columns:after {
 content:'';
 display:block;
 clear:both;
 font-size:0;
 line-height:0;
 height:0
}
.l-main-column {
 width:45.25em;
 float:left;
 *zoom:1
}
.l-main-column:after {
 content:"\0020";
 display:block;
 height:0;
 clear:both;
 overflow:hidden;
 visibility:hidden
}
.l-main-column .b-lists-wr {
 padding:1em 0 0;
 width:100%;
 *zoom:1;
 -moz-box-sizing:border-box;
 -webkit-box-sizing:border-box;
 box-sizing:border-box
}
.l-main-column .b-lists-wr:after {
 content:"\0020";
 display:block;
 height:0;
 clear:both;
 overflow:hidden;
 visibility:hidden
}
.l-main-column .b-lists-wr.m-list-wr__grey-bg {
 padding:1em 0 0;
 margin:0 0 2em .063em;
 background:#f4f4f4
}
.l-main-column .b-lists-wr.m-list-wr__grey-bg .b-title__list-normal {
 margin-left:1em
}
.l-main-column .b-lists-wr.m-list-wr__grey-bg .b-title__tiles-normal {
 margin-left:1em
}
.l-main-column .b-lists-wr.m-list-wr__grey-bg .b-title__waterfall-normal {
 margin-left:1em
}
.l-main-column .b-lists-wr.m-list-wr__grey-bg .b-list-normal {
 margin-left:1em
}
.l-main-column .b-lists-wr.m-list-wr__grey-bg .b-tiles-normal {
 margin-left:.5em
}
.l-main-column .b-lists-wr.m-list-wr__grey-bg .b-tiles .b-tiles__item {
 padding:1.25em 0 0 .5em
}
.l-main-column .b-lists-wr.m-list-wr__grey-bg .b-waterfall-normal {
 margin-left:.5em
}
.l-main-column .b-lists-wr.m-list-wr__grey-bg .b-waterfall .b-waterfall__item {
 padding:1.25em 0 0 .5em
}
.l-main-column .b-list-normal {
 margin:0 1em 1.75em 1.063em;
 position:relative;
 *zoom:1
}
.l-main-column .b-list-normal:after {
 content:"\0020";
 display:block;
 height:0;
 clear:both;
 overflow:hidden;
 visibility:hidden
}
.b-list {
 position:relative;
 margin:0;
 padding:0
}
.b-list .b-list__item {
 border-bottom:1px solid #e7e7e7;
 padding:1em 0 .75em;
 margin:0 0 .25em;
 *zoom:1
}
.b-list .b-list__item:after {
 content:"\0020";
 display:block;
 height:0;
 clear:both;
 overflow:hidden;
 visibility:hidden
}
.b-list .b-list__item .b-list__item-title {
 margin:0 0 .5em 15.063em;
 font-weight:800;
 line-height:1.12;
 display:block
}
.b-list .b-list__item .b-list__item-title span {
 font-size:1.06em
}
.b-list .b-list__item .b-list__item-title span .search_highlight {
 font-size:1em;
 color:#ff7800
}
.b-list .b-list__item .b-list__item-labels {
 margin:0 0 .5em 15.063em;
 padding-top:.313em
}
.b-list .b-list__item .b-list__item-labels span {
 display:none
}
.b-list .b-list__item .b-list__item-time {
 float:left;
 font-weight:700;
 color:#62a7d9;
 margin-right:.5em
}
.b-list .b-list__item .b-list__item-time span {
 font-size:.81em
}
.b-list .b-list__item .b-list__item-date {
 float:left;
 font-weight:600;
 color:#62a7d9;
 margin-right:.5em
}
.b-list .b-list__item .b-list__item-date span {
 font-size:.81em
}
a {
    cursor: pointer;
    color: #282828;
    text-decoration: none;
}
.jsTabs .jsTabs-tabs-list {
 margin:0 -0.5em 1em;
 text-align:left
}
.jsTabs .jsTabs-tabs-list .jsTabs-point {
 -moz-user-select:-moz-none;
 -ms-user-select:none;
 -webkit-user-select:none;
 user-select:none;
 position:relative;
 padding:0 0 .19em 0;
 margin:0 .5em;
 font-weight:700;
 text-transform:uppercase;
 cursor:pointer;
 color:#b7b7b7;
 display:inline-block;
 vertical-align:middle
}
.jsTabs .jsTabs-tabs-list .jsTabs-point span {
 font-size:.75em
}
.jsTabs .jsTabs-tabs-list .jsTabs-point.jsTabs-active {
 cursor:default
}
.jsTabs .jsTabs-tabs-list .jsTabs-point.jsTabs-active span {
 color:#62a7d9
}
.jsTabs .jsTabs-tabs-list .jsTabs-point.jsTabs-active:hover {
 text-decoration:none
}
.jsTabs .jsTabs-tabs-list.jsTabs-center {
 text-align:center
}
.jsTabs .jsTabs-tabs-list.jsTabs-bg-grey-center {
 background:#f4f4f4;
 margin:0 0 1em;
 text-align:center;
 padding:.44em .5em
}
.jsTabs .jsTabs-tabs-list.jsTabs-bg-grey-center .jsTabs-point {
 color:#7c7c7c
}
.jsTabs .jsTabs-tabs-list.jsTabs-bg-grey-center .jsTabs-point span {
 padding:0 .5em
}
.jsTabs .jsTabs-tabs-list.jsTabs-bg-grey-center.jsTabs-small {
 padding-left:0;
 padding-right:0
}
.jsTabs .jsTabs-tabs-list.jsTabs-bg-grey-center.jsTabs-small .jsTabs-point {
 margin:0 .25em
}
.jsTabs .jsTabs-tabs-list.jsTabs-bg-grey-center.jsTabs-small .jsTabs-point span {
 padding:0 .25em;
 font-size:.69em
}
.jsTabs .jsTabs-tabs-list.jsTabs-theme-grey-center {
 margin:0 0 1em;
 text-align:center
}
.jsTabs .jsTabs-tabs-list.jsTabs-theme-grey-center .jsTabs-point {
 background:#f4f4f4;
 color:#7c7c7c;
 margin:0;
 padding:.44em 1px .625em 0
}
.jsTabs .jsTabs-tabs-list.jsTabs-theme-grey-center .jsTabs-point span {
 padding:0 1.25em
}
.jsTabs .jsTabs-tabs-list.jsTabs-theme-grey-center .jsTabs-point:last-child {
 padding-right:0
}
.jsTabs .jsTabs-tabs-list.jsTabs-theme-grey-center .jsTabs-point:after {
 display:block;
 content:'';
 position:absolute;
 top:.44em;
 bottom:.44em;
 left:-1px;
 border-left:1px solid #dfdfdf
}
.jsTabs .jsTabs-tabs-list.jsTabs-theme-grey-center .jsTabs-point:first-child:after {
 display:none
}
.jsTabs .jsTabs-tabs-list.jsTabs-theme-grey-center .jsTabs-point.jsTabs-active {
 cursor:default;
 background:#dfdfdf
}
.jsTabs .jsTabs-tabs-list.jsTabs-theme-grey-center .jsTabs-point.jsTabs-active span {
 color:#282828
}
.jsTabs .jsTabs-tabs-list.jsTabs-theme-grey-center .jsTabs-point.jsTabs-active:after {
 display:none
}
.jsTabs .jsTabs-tabs-list.jsTabs-theme-grey-center .jsTabs-point.jsTabs-active:hover {
 text-decoration:none
}
